<!doctype html>
<html>

<head>

<title>List</title>

<script src="/js/jquery-3.2.1.js"></script>

</head>

<body>


<script>

$(document).ready( function() {
$("#todo").on( "click", "input", function () {
var data={
value:$(this)[0].checked,
_id:$(this)[0].id

};
console.log(data);
$.post("/todo-change", data);


});
 });

</script>

<ul id="todo">

  <% todos.forEach(function (todo) { %>

<li>

<label>

  <input type="checkbox" name="value" id="<%= todo._id%>" value="<%= todo.value %>" 
  <%= (todo.value=="true") ? "checked" : "" %>> <%= todo.nome %>

</label>

</li>

<% }); %>

</ul>

<form action="/todo" method="post">
  <input type="text" name="todo" placeholder="Inserisci cosa devi fare">
  <input type="submit" value="Add todo">
</form>

</body>


</html>
